name: build-test
on:
  push:
  pull_request:
permissions:
  contents: read
  pull-requests: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v3
    - name: 'Install Nim'
      uses: iffy/install-nim@v5
    - name: 'Setup Nim'
      uses: jiro4989/setup-nim-action@v1
      with:
        nim-version: '2.x'
    - name: 'Build Catnip'
      run: nim release
    - name: 'Install Figlet'
      run: sudo apt-get install figlet
    - name: 'Test Catnip'
      run: cd tests && ./test.sh
