name: test-catnap
on:
  push:
  pull_request:
jobs:
  test-catnap:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v4
      - name: "Install Nim"
        uses: iffy/install-nim@v5
      - name: "Setup Nim"
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: "stable"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build Catnap"
        run: nim debug
      - name: "Install mesa-utils"
        run: sudo apt-get install mesa-utils
      - name: "Run Tests"
        run: cd scripts && ./test-commandline-args.sh
